
Аудиторная 5/Аудиторная 5/Аудиторная 5.vcxproj.user
Аудиторная 5/Аудиторная 5/Аудиторная 5.vcxproj.filters
Аудиторная 5/Аудиторная 5/Аудиторная 5.vcxproj
Аудиторная 5/.vs/Аудиторная 5/v16/Browse.VC.opendb
Аудиторная 5/.vs/Аудиторная 5/v16/Browse.VC.db-wal
Аудиторная 5/.vs/Аудиторная 5/v16/Browse.VC.db-shm
Аудиторная 5/.vs/Аудиторная 5/v16/Browse.VC.db
